




<p class="question_show_t">
  <strong>:</strong>
  <%= @question.title %>
</p>



<p class="question_show_u">
  <strong>投稿者:</strong>
  <%= @question.user.name %>
</p>



<%= image_tag @question.image.thumb.url,class:'img-thumbnail' %><br>

<p class="question_show_c">
  <strong>内容:</strong>
  <%= @question.content %>
</p>

<% unless @question.best_a.nil? %>
   ベストアンサー
   <%= @answer.content %>
   <% if current_user == @question.user %><br>
   <%= link_to 'ベストアンサーさ駆除',best_destroy_path(@answer.id)%>
   <% end %>
<% end %>

<div class="answer_area">
<%= form_tag answers_create_path(@question.id) do %>
  
  answer
  <textarea name="content"></textarea>

  <input type="submit" value="投稿する">
<% end %>

  <div class="answer_zone">
  	<% @question.answers.each do |answer|%>
  	  <%= answer.content %>
      <% if @question.user_id == current_user.id&&@question.best_a==nil %>
        <%= link_to 'bestアンサーに選ぶ',best_answer_path(answer.id)%>
      <% end %>
      <%= link_to '削除',answers_destroy_path(answer.id),method: :delete%>
  	<% end %>
  </div>
</div>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
