<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @note.image %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

<% @note.comments.each do |comment|%>
	<%= comment.content%>
<%end%>

<%= form_tag comment_path(@note.id) do %>
  
  コメント
  <textarea name="content"></textarea>
  <input type="submit" value="投稿する">
<% end %>

<% if @comments %>
<% @note.comments.each do |comment| %>
   <%= comment.content %>
<% end %>
<% end %>