<p id="notice"><%= notice %></p>

<p>
  <strong>記事タイトル:</strong>
  <%= @note.title %>
</p>
<div id = "like_link">
  <%= render 'likes/likelike', note:@note %>
</div>

<div id = "likecount">
  <%= @note.likes.count %>
</div>

<p>
  <strong>投稿者:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>内容:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>写真:</strong>
   <%= image_tag @note.image.thumb.url %>

</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>


<%= form_tag comment_path(@note.id) do %>
  
  コメント
  <textarea name="content" required="required"></textarea>
  <input type="submit" value="投稿する" >
<% end %>


<% if @note.comments %>
<% @note.comments.each do |comment| %>
   <%= comment.content %>
   <%= link_to '削除', commentsdes_path(comment.id), method: :delete %>
   <% end %>
<% end %>









