
<h2>マイペットページ</h2>

飼い主名<%= link_to @pet.user.name,usershow_path(@pet.user.id) %><br>

ペットの名前<%= @pet.name %><br>

<%= image_tag @pet.image.thumb.url,class:'img-thumbnail' %><br>

年齢<%= @pet.age %><br>

タイプ<%= @pet.pettype%><br>

一言<%= @pet.phrase %><br>