
<div class="pet_form">
	<h2>マイページ</h2>

	<p>名前：<%= @user.name %></p>
	<p>eメールアドレス：<%= @user.email %></p>
	<% unless @user.id==current_user.id %>
    <div class = "follow">
    <%= render 'users/followrelate', user:@user %>
    </div>
    <% end %>
   <div id="follow"> 
    <div class="followed_count btn btn-success">
        <p>フォロー<%= link_to @user.followed_users.count,user_follow_index_path(@user.id) %></p>
    </div>
    <div class="following_count btn btn-primary">
        <p>フォロアー<%= link_to @user.followers.count,user_follower_index_path(@user.id) %></p>
    </div>
   </div> 
	<p><%= link_to 'お気に入りハロー',hello_index_path(@user.id) %></p>

    
    <% if @user.image? %>
      <%= image_tag @user.image.thumb.url,class:'user_images img-thumbnail' %>
    <% else %>
      <%= image_tag '/images/logo (2).png',class:'user_images img-thumbnail'%>
    <% end %><br>
      
    <p><%= link_to '編集する',edit_user_registration_path %></p>
     <h2>ペット</h2>
	<% @user.pets.each do |pet| %>
	<p class="p_area"><% if pet.image? %>
      <%= image_tag pet.image.thumb.url,class:'p_images img-thumbnail' %>
    <% else %>
      <%= image_tag '/images/logo (2).png',class:'p_images img-thumbnail'%>
    <% end %><%= link_to pet.name,pet_path(pet.id) %></p>
	<% end %>
	<% if current_user.id == @user.id %>
	<%= link_to '新しいペットを登録する',new_pet_path,class:'btn btn-success'%>
    <% end %>
    <h2>ハロー一覧</h2>
	<% @user.notes.each do |note|%>
	 <div class="u_note_border">
		<p><%= image_tag note.image.thumb.url,class:'p_images img-thumbnail' %><%= link_to note.title, note_path(note.id) %></p>
	 </div>
	<% end %>
 </div>


<% unless @user.id==current_user.id %>
<div class = "follow">
 <%= render 'users/followrelate', user:@user %>
</div>
<% end %>

